<div id="photos", class="transitions-enabled">
  <% @photos.each do |photo| %>
    <div class="box panel panel-default">
      <%= image_tag photo.image.url(:medium) %>
      <div class="panel-body">
        <%= photo.description %></td>
        <%= photo.user.email if photo.user %>
        <%= link_to 'Show', photo %>
        <% if photo.user == current_user %>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


